<form (submit)="updateForm()" class="needs-validation " novalidate>
    <div class="mb-3">
        <label for="name" class="form-label">Identificador</label>
        <input type="number" class="form-control" id="name" name="_id" [(ngModel)]="producto._id" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="nombre" [(ngModel)]="producto.nombre" required>
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="producto.descripcion"
            required></textarea>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Marca</label>
        <input type="text" class="form-control" id="name" name="marca" [(ngModel)]="producto.marca" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="name" name="tipo" [(ngModel)]="producto.tipo" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Precio</label>
        <input type="number" class="form-control" id="name" name="precio" [(ngModel)]="producto.precio" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>